[submodule "contactLaravelPackage"]
	path = contactLaravelPackage
	url = git@github.com:soheyla-karimzade/contactLaravelPackage.git
[submodule "UserListPagination"]
	path = UserListPagination
	url = git@github.com:soheyla-karimzade/UserListPagination.git
